
\.vs/AdventOfCode/v15/

Day1/\.vs/AdventOfCode/v15/

Day1/bin/Debug/

Day1/obj/Debug/

Day2/obj/

Day3/bin/Debug/netcoreapp1\.1/

Day3/obj/

Day4/bin/Debug/netcoreapp1\.1/

Day4/obj/

bin/Debug/

obj/Debug/

Day5/bin/Debug/

Day5/obj/Debug/

Day6/bin/Debug/

Day6/obj/Debug/

Day7/bin/Debug/

Day7/obj/Debug/
